

# floodlight @ git+https://github.com/mad4ms/floodlight.git
# sportradar @ git+https://github.com/mad4ms/SportradarAPIs.git
# bielemetrics_kinexon_api_wrapper @ git+https://github.com/mad4ms/kinexon-api-access-python.git
pandas
numpy
matplotlib
scikit-learn
# opencv-python-headless
shapely
tqdm
python-dotenv
# Local submodules
-e src/libs_external/api-kinexon
-e src/libs_external/api-sportradar